.role-container {
  .icon {
    margin-top: 10px;
    font-size: 30px;
    color: rgb(24, 227, 58);
    cursor: pointer;
  }
  .icon1 {
    margin-top: 10px;
    font-size: 30px;
    cursor: pointer;
    color: rgb(203, 34, 34);
  }
}
